link(href='assets/css/fontsExample.css', rel='stylesheet')

.container

      .marketing
        h1.fontHeader Hack #13 Use Google Web Fonts for Simple @font-face Implementation
        p.marketing-byline lets look at the different @font-face options!
        .row
          .span4
            .well
                h2.fontHeader H
                p.smallFont
                    Grumpy wizards make toxic brew for the evil Queen and Jack. One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.
          .span4
            .well
                h2.fontHeader 5
                p.smallFont
                    Grumpy wizards make toxic brew for the evil Queen and Jack. One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.
          .span4
            .well
                h2.fontHeader H
                p.smallFont
                    Grumpy wizards make toxic brew for the evil Queen and Jack. One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.
      
    script(src='assets/js/jquery.js')
    script(src='assets/js/google-code-prettify/prettify.js')
    script(src='assets/js/bootstrap-transition.js')
    script(src='assets/js/bootstrap-alert.js')
    script(src='assets/js/bootstrap-modal.js')
    script(src='assets/js/bootstrap-dropdown.js')
    script(src='assets/js/bootstrap-scrollspy.js')
    script(src='assets/js/bootstrap-tab.js')
    script(src='assets/js/bootstrap-tooltip.js')
    script(src='assets/js/bootstrap-popover.js')
    script(src='assets/js/bootstrap-button.js')
    script(src='assets/js/bootstrap-collapse.js')
    script(src='assets/js/bootstrap-carousel.js')
    script(src='assets/js/bootstrap-typeahead.js')
    script(src='assets/js/application.js')
