link(href='assets/css/colorExample.css', rel='stylesheet')

.container

      .marketing
        h1.fontHeader Hack #15 Make Elements Appear Transparent Without Altering the Opacity  
        p.marketing-byline Granular control over transparency
        .row
          .span4.color-sample
              div.one.opacity Red
              div.two.opacity Green
              div.three.opacity Blue
              p Color with Opacity
          .span4.color-sample
              div.one.alpha
              div.two.alpha
              div.three.alpha
              p Color with Alpha
          .span4.color-sample
              div.one
              div.two
              div.three
              p full color

    script(type='text/javascript', src='http://platform.twitter.com/widgets.js')
    script(src='assets/js/jquery.js')
    script(src='assets/js/google-code-prettify/prettify.js')
    script(src='assets/js/bootstrap-transition.js')
    script(src='assets/js/bootstrap-alert.js')
    script(src='assets/js/bootstrap-modal.js')
    script(src='assets/js/bootstrap-dropdown.js')
    script(src='assets/js/bootstrap-scrollspy.js')
    script(src='assets/js/bootstrap-tab.js')
    script(src='assets/js/bootstrap-tooltip.js')
    script(src='assets/js/bootstrap-popover.js')
    script(src='assets/js/bootstrap-button.js')
    script(src='assets/js/bootstrap-collapse.js')
    script(src='assets/js/bootstrap-carousel.js')
    script(src='assets/js/bootstrap-typeahead.js')
    script(src='assets/js/application.js')
